src/assets/memes/meme-1.svg
src/assets/memes/meme-2.svg
src/assets/memes/meme-3.svg
src/assets/memes/meme-4.svg
src/assets/memes/vlipsy-you-on-kazoo-who-are-you-kPRpOFg5.mp4
src/assets/music/1-01_Saan_.m4a
src/assets/memes/wait-a-mintue-who-are-you.mp4

.vscode/